<nav class="grey lighten-4 black-text">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo black-text">
        <table style="margin: -17px 0px;">
          <tr>
            <td>  <img src="assets/images/logo.jpg" class="circle responsive-img brand-pic"></td>
            <td> <span class="brand-name">Sivaraj Nagaraj</span></td>
          </tr>
        </table>
      
       </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li routerLinkActive="active"><a routerLink="/home"  style="color:#1b202e" >Home</a></li>
          <li routerLinkActive="active"><a routerLink="/skills"  style="color:#1b202e" >Skills</a></li>
          <li routerLinkActive="active"><a routerLink="/certifications"  style="color:#1b202e" >Certifications</a></li>
          <li routerLinkActive="active"><a routerLink="/experience"  style="color:#1b202e" >Experience</a></li>
          <li routerLinkActive="active"><a routerLink="/projects"  style="color:#1b202e" >Projects</a></li>
          <li routerLinkActive="active"><a routerLink="/academy" style="color:#1b202e"  >Academy</a></li>

      
      </ul>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Sassss</a></li>
        <li><a href="badges.html">Componentsss</a></li>
        <li><a href="collapsible.html">Javascriptss</a></li>
        <li><a href="mobile.html">Mobilesss</a></li>
      </ul>
    </div>
  </nav>