.brand-name{
    font-size: 20px;
    font-weight: bold;
    vertical-align: text-bottom;
}
.brand-pic{
    max-width:40px;
    margin-left: 5px;
    margin-bottom: 4px;
    vertical-align: text-bottom;  
}