 
  <nav class="grey lighten-4 black-text">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo black-text">
        <table style="margin: -17px 0px;">
          <tr>
            <td>  <img src="assets/images/logo.jpg" class="circle responsive-img brand-pic"></td>
            <td> <span class="brand-name">Sivaraj Nagaraj</span></td>
          </tr>
        </table>
      
       </a>
       <a href="#" data-activates="mobile-demos" class="button-collapse"><i class="black-text material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
       
          <li routerLinkActive="active"><a routerLink="/home"  style="color:#1b202e" >Home</a></li>
          <li routerLinkActive="active"><a routerLink="/skills"  style="color:#1b202e" >Skills</a></li>
          <li routerLinkActive="active"><a routerLink="/certifications"  style="color:#1b202e" >Certifications</a></li>
          <li routerLinkActive="active"><a routerLink="/experience"  style="color:#1b202e" >Experience</a></li>
          <li routerLinkActive="active"><a routerLink="/projects"  style="color:#1b202e" >Projects</a></li>
          <li routerLinkActive="active"><a routerLink="/academy" style="color:#1b202e"  >Academy</a></li>

      
      </ul>
      <ul class="side-nav" id="mobile-demos">
         
          <li routerLinkActive="active"><a routerLink="/home"  style="color:#1b202e" >Home</a></li>
          <li routerLinkActive="active"><a routerLink="/skills"  style="color:#1b202e" >Skills</a></li>
          <li routerLinkActive="active"><a routerLink="/certifications"  style="color:#1b202e" >Certifications</a></li>
          <li routerLinkActive="active"><a routerLink="/experience"  style="color:#1b202e" >Experience</a></li>
          <li routerLinkActive="active"><a routerLink="/projects"  style="color:#1b202e" >Projects</a></li>
          <li routerLinkActive="active"><a routerLink="/academy" style="color:#1b202e"  >Academy</a></li>
        </ul>
    </div>
  </nav>
